@import "../../app-variables";

.page {
  background-color: $speakers;
}

.text-header {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", "Oswald-Bold";
  font-size: 30;
}

.text-italic {
  font-style: italic;
  text-align: center;
  font-size: 20;
  padding: 0 20;
}

.carousel-content {
  .bio {
    padding: 10 20;
  }
}

.carousel-image {
  border-radius: 30;
  border-width: 5;
  border-color: $white;
}

.carousel-imagewrapper {
  height: 100;
  width: 100;
}
