<DockLayout class="page">
  <label dock="top" text="Speakers" class="header"></label>
  <FlexboxLayout dock="bottom" class="footer"><ns-menu [active]="active"></ns-menu></FlexboxLayout>
  <GridLayout dock="left" rows="auto">
    <Carousel
      #carousel
      class="carousel"
      row="0"
      height="100%"
      android:indicatorAnimation="slide"
      indicatorColor="rgb(255,255,255)"
      indicatorColorUnselected="rgb(0,0,0)"
      ios:finite="true"
      ios:bounce="false"
    >
      <CarouselItem class="carousel-item" *ngFor="let speaker of speakers">
        <GridLayout rows="auto *">
          <StackLayout row="0" class="carousel-imagewrapper" verticalAlignment="bottom">
            <Image src="~/images/{{ speaker.image }}.jpg" class="carousel-image" verticalAlignment="bottom" horizontalAlignment="center"></Image>
          </StackLayout>
          <StackLayout row="1" class="carousel-content">
            <Label [text]="speaker.name" textWrap="true" class="text-header"></Label>
            <Label [text]="speaker.title" textWrap="true" class="text-italic"></Label>
            <Label [text]="speaker.bio" textWrap="true" class="bio"></Label>
          </StackLayout>
        </GridLayout>
      </CarouselItem>
    </Carousel>
  </GridLayout>
</DockLayout>
