<DockLayout class="page">
  <label dock="top" text="Speakers" class="header"></label>
  <FlexboxLayout dock="bottom" class="footer"><ns-menu></ns-menu></FlexboxLayout>

  <GridLayout dock="left" rows="auto">
    <Carousel
      #carousel
      class="carousel"
      row="0"
      height="98%"
      android:indicatorAnimation="slide"
      indicatorColor="rgb(255,255,255)"
      indicatorColorUnselected="rgb(0,0,0)"
      ios:finite="true"
    >
      <!-- Slides -->
      <CarouselItem class="carousel-item" *ngFor="let speaker of speakers">
        <GridLayout rows="auto *">
          <StackLayout row="0" class="carousel-imagewrapper carousel-1" verticalAlignment="bottom">
            <Image src="~/images/{{ speaker.image }}.jpg" class="carousel-image" verticalAlignment="bottom" horizontalAlignment="center"></Image>
          </StackLayout>
          <StackLayout row="1" class="carousel-content">
            <Label [text]="speaker.name" textWrap="true" class="text-header"></Label>
            <Label [text]="speaker.title" textWrap="true" class="text-italic"></Label>
            <Label [text]="speaker.bio" textWrap="true" class="bio"></Label>
          </StackLayout>
        </GridLayout>
      </CarouselItem>
      <!-- Slides -->
    </Carousel>
  </GridLayout>
</DockLayout>
