<FAB (tap)="onNavItemTap('/home')" icon="~/images/home.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
<FAB (tap)="onNavItemTap('/schedule')" icon="~/images/schedule.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
<FAB (tap)="onNavItemTap('/speakers')" icon="~/images/speakers.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
<FAB (tap)="onNavItemTap('/location')" icon="~/images/location.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
<!-- <FAB (tap)="onNavItemTap('/workshops')" icon="~/images/workshops.png" rippleColor="#f1f1f1" class="fab-button"></FAB> -->
