<FAB (tap)="onNavItemTap('/home')" icon="~/images/home.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
<FAB (tap)="onTap()" icon="~/images/schedule.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
<FAB (tap)="fabTap()" icon="~/images/workshops.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
<FAB (tap)="fabTap()" icon="~/images/speakers.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
<FAB (tap)="fabTap()" icon="~/images/location.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
