@import "../../app-variables";

.nav-item {
  // height: 100%;
  width: 55;
  height: 55;
  text-align: center;
  font-size: 28;
  border-width: 1;
  border-color: $black;
  color: $black;
  border-radius: 90%;
}

.nav-schedule {
  background-color: $schedule;
}

.nav-workshops {
  background-color: $workshops;
}

.nav-speakers {
  background-color: $speakers;
}

.nav-location {
  background-color: $location;
}

.fab-button {
  height: 55;
  width: 55; /// this is required on iOS - Android does not require width so you might need to adjust styles
  // margin: 15;
  background-color: $black;
  //horizontal-align: right;
  // vertical-align: bottom;
  // border-width: 1;
  // border-color: $black;
  // border-radius: 90%;
}
