@import "../../app-variables";

.page {
  background-color: $location;
}

.text {
  padding: 0 20 20 20;
}

.text-header {
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", "Oswald-Bold";
  font-size: 30;
}

.carousel-image {
  border-radius: 10;
  margin-bottom: 10;
}

.address {
  padding: 0 20;
  label {
    padding-left: 0;
  }
  image {
    margin-top: 5;
    padding-right: 10;
    width: 50;
  }
}

.address-android {
  padding-top: 10;
}
