@import "../../app-variables";

.page {
  background-color: $schedule;
  color: $black;
}

.header {
  color: $black;
}

.schedule-item {
  margin: 0 10 10 10;
  border-radius: 5;
}

.schedule-item-talk {
  background-color: $white;
}

.schedule-item-break {
  background-color: $black;
  .schedule-time,
  .schedule-speaker,
  .schedule-title {
    color: $white;
  }
}

.schedule-time {
  padding: 10;
  font-size: 20;
  font-weight: bold;
  font-family: "Oswald", "Oswald-Bold";
}

.schedule-description {
  padding: 10;
}

.schedule-title {
  font-style: italic;
}

.schedule-speaker {
  font-size: 20;
  font-weight: bold;
  font-family: "Oswald", "Oswald-Bold";
  text-transform: uppercase;
}

.schedule-image {
  width: 50;
  height: 50;
  border-radius: 10;
  margin-right: 10;
}

/* dialog */

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialogOpen {
  opacity: 0.8;
  background-color: $black;
  margin: 0;
  padding: 0;
  .page {
    visibility: collapse;
  }
}

.dialogOpen .dialog-wrapper {
  visibility: visible;
  animation-name: show;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.dialog-wrapper {
  visibility: collapse;
  opacity: 0;
}

.dialog {
  font-family: "Lora", "Lora-Regular";
  border-width: 1 0 1 0;
  border-color: black;
  background-color: white;
  width: 90%;
  margin-top: 100;
  padding: 20;
  border-radius: 10;
}

.dialog-close {
  width: 25;
}

.dialog-image {
  width: 150;
  height: 150;
  border-radius: 75;
  margin-top: -25;
}

.dialog-speaker {
  font-size: 20;
  font-weight: bold;
  font-family: "Oswald", "Oswald-Bold";
  text-align: center;
  margin-top: 5;
  text-transform: uppercase;
}

.dialog-title {
  font-style: italic;
  text-align: center;
  margin: 10 0;
}
