$black: rgb(0, 0, 0);
$black-medium: rgb(40, 40, 40);
$white: rgb(255, 255, 255);
// $yellow: rgb(253, 242, 81);
$yellow: rgb(243, 200, 72);
$orange: rgb(240, 144, 53);
$blue-dark: rgb(45, 68, 148);
$blue: rgb(82, 182, 249);
$green: rgb(152, 184, 96);

$home: $blue-dark;
$schedule: $yellow;
$speakers: $orange;
$location: $blue;
$about: $green;
