$black: rgb(0, 0, 0);
$blackdark: rgb(44, 62, 80);
$white: rgb(255, 255, 255);
$yellow: rgb(253, 242, 81);
$orange: rgb(240, 144, 53);
$blue: rgb(82, 182, 249);
$green: rgb(153, 196, 85);

$schedule: $yellow;
$workshops: $orange;
$speakers: $blue;
$location: $green;
