.fa {
  font-family: "FontAwesome";
}

.page {
  font-family: "Lora", "Lora-Regular";
  color: $white;
  font-weight: bold;
}

.header {
  margin: 20 0;
  font-weight: bold;
  font-size: 40;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  font-family: "Oswald", "Oswald-Bold";
}

.footer {
  height: 76;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 4;
}
