@import "../../app-variables";

.page {
  background-image: url("~/images/amsterdam.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 120;
  height: 120;
  animation-name: rotation;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform: scale(0);
}

.logo-android {
  margin-top: 15;
}

.drop {
  opacity: 0;
}

.drop-1 {
  animation-delay: 5s;
  animation-name: drop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.drop-2 {
  animation-delay: 5.5s;
  animation-name: drop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.drop-3 {
  animation-delay: 6s;
  animation-name: drop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.drop-4 {
  animation-delay: 6.5s;
  animation-name: drop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.drop-5 {
  animation-delay: 7s;
  animation-name: drop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.drop-6 {
  animation-delay: 7.5s;
  animation-name: drop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.animate {
  background-color: rgba(46, 40, 65, 0.9);
  opacity: 0;
  animation-name: reveal;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  padding: 20;
}

.date {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20;
  text-align: center;
  margin-bottom: 30;
}

.link {
  font-family: "Oswald", "Oswald-Bold";
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30;
  margin: 5 0;
}

.schedule {
  color: $schedule;
}

.speakers {
  color: $speakers;
}

.location {
  color: $location;
}

.about {
  color: $about;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: scale(0) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(359deg);
  }
}

@keyframes drop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
